body > table > tbody > tr:nth-child(1) > td > div > div[data-wfx-id="self-help-title"]  {
font-size : 30px !important;
font-family : Verdana !important;
}

[id*="wfx-dashboard-self-help-flow-"] {
color: #00FFFF !important;
}

font-family : Verdana !important;
