body > table > tbody > tr:nth-child(1) > td > div > div[data-wfx-id="self-help-title"]  {
font-size : 30px !important;
}

font-family : Verdana !important;

//Minimised SH widget
div#_widget_wfx_ { 
background-color: #2c172d !important; 
}
//Flow tip
#wfx-flow-tip > div > div > table > tbody > tr:nth-child(2) > td > div > div {
 background-color: #2c172d !important; 
} 
//Minimised Tasklist
div[id="_tasker_wfx_"] a { 
background-color: #2c172d !important; 
}
//TL Expanded
body > table[role="presentation"] > tbody > tr > td > div > div:nth-child(1)
{ 
background-color: #2c172d !important; 
}
//Popup
body > div { 
background-color: #2c172d !important; 
}
body>div:nth-of-type(2)>div {
    background-color: #17212d !important;
}
body>div:nth-of-type(2)>div:nth-child(2) div {
    background-color: #17212d !important;
}

